apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestbook-backend
  template:
    metadata:
      labels:
        app: guestbook-backend
    spec:
      containers:
      - name: backend
        image: gcr.io/google-samples/gb-redisp:latest
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: guestbook-backend
spec:
  selector:
    app: guestbook-backend
  ports:
  - port: 6379
    targetPort: 6379

